*{
    margin: 0;
     font-family: "Poppins", sans-serif;
}
 body{
    background-color: rgb(238, 233, 233);
 }
.btn{
    padding: 15px 30px;
    background-color:rgb(48, 83, 222);
    color: white;
    border-radius: 10px;
    border: none;
}
.btn:hover{
    background-color: rgb(7, 7, 177);
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    width: 90%;

}

.phone-doc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;;
}
.phone-doc > p{
    text-align: center;
    font-weight: 20px;
    color: rgb(124, 118, 118);
}

.phone-doc > h1{
text-shadow: 2px 2px #d15d5d;
font-size: 50px;
font-weight: 800px;
}

.cover-img{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.cover-img > img{
    width: 70%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.container h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #000;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #f7f7db;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 10px 15px;
  width: 600px;
  max-width: 90%;
}

.search-box i {
  font-size: 18px;
  margin-right: 10px;
  color: #000;
}

.search-box input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
}
.card-section{
    width: 80%;

    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.card{
    border: 1px solid rgb(211, 199, 199);
    border-radius: 10px;
    padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    gap: 10px;
}

.card-img{
    background-color: white;
    display: flex;
    justify-content: center;
    width: 90%;
}

.card-img > img{
    width: 80%;
}

.card > button{
    width: fit-content;
}

.card-img:hover{
    background-color: rgb(194, 180, 180);
    transition: 0.8s;
}

.card >p{
    color: rgb(124, 101, 101);
    text-align: center;
}