*{
    margin: 0;
     font-family: "Poppins", sans-serif;
}
 body{
    background-color: rgb(238, 233, 233);
 }
.btn{
    padding: 15px 30px;
    background-color:rgb(48, 83, 222);
    color: white;
    border-radius: 10px;
    border: none;
}
.btn:hover{
    background-color: rgb(7, 7, 177);
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    width: 90%;

}

.phone-doc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;;
}
.phone-doc > p{
    text-align: center;
    font-weight: 20px;
    color: rgb(124, 118, 118);
}

.phone-doc > h1{
text-shadow: 2px 2px #d15d5d;
font-size: 50px;
font-weight: 800px;
}

.cover-img{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.cover-img > img{
    width: 70%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.container h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #000;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #f7f7db;
  border: 2px solid #000;
  border-radius: 8px;
  padding: 10px 15px;
  width: 600px;
  max-width: 90%;
}

.search-box i {
  font-size: 18px;
  margin-right: 10px;
  color: #000;
}

.search-box input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
}
.card-section{
    width: 80%;

    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.card{
    border: 1px solid rgb(211, 199, 199);
    border-radius: 10px;
    padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    gap: 10px;
}

.card-img{
    background-color: white;
    display: flex;
    justify-content: center;
    width: 90%;
}

.card-img > img{
    width: 80%;
}

.card > button{
    width: fit-content;
}

.card-img:hover{
    background-color: rgb(194, 180, 180);
    transition: 0.8s;
}

.card >p{
    color: rgb(124, 101, 101);
    text-align: center;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #ccc #0000;
  animation: l16 1s infinite linear;
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.loader::before {
  border-color: #f03355 #0000;
  animation: inherit; 
  animation-duration: .5s;
  animation-direction: reverse;
}
.loader::after {
  margin: 8px;
}
@keyframes l16 { 
  100%{transform: rotate(1turn)}
}

.loading{
    display: flex;
    justify-content: center;
}

.hidden{
    display: none;
}

footer {
  background-color: #e7e4ef;
  color: #000;
  padding: 50px 150px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left h2 {
  font-size: 36px;
  font-weight: 700;
}

.footer-left p {
  margin-top: 10px;
  color: #444;
  font-weight: 500;
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.social-icons a img {
  width: 25px;
  height: 25px;
}

.btn {
  background-color: #1a73e8;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

hr {
  margin: 40px 0;
  border: 1px solid #d0ced7;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-column p {
  margin: 8px 0;
  cursor: pointer;
}

