*{
    margin: 0;
     font-family: "Poppins", sans-serif;
}
 body{
    background-color: rgb(238, 233, 233);
 }
.btn{
    padding: 15px 30px;
    background-color:rgb(48, 83, 222);
    color: white;
    border-radius: 10px;
    border: none;
}
.btn:hover{
    background-color: rgb(7, 7, 177);
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    width: 90%;

}

.phone-doc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;;
}
.phone-doc > p{
    text-align: center;
    font-weight: 20px;
    color: rgb(124, 118, 118);
}

.phone-doc > h1{
text-shadow: 2px 2px #d15d5d;
font-size: 50px;
font-weight: 800px;
}